


/venv/
.idea
/reqv.txt
/temp.py
/temp3_choosing_keybord_control_module.py
/commands_controller/screenshots/
/wake_word_detection/audio/
/models/stt/ua_big_model_v3/
/models/stt/ua_small_model_v3/
/input_simulation/
/main_folder/temp/
/commands_controller/scripts/
*/temp/
/commands_controller/action_recorder/temp/
/commands_controller/scripts_controller/scripts_info2.json
/ai_request/
